<!DOCTYPE html>
<html>
<head>
  <title>Authr</title>
  <%= stylesheet_link_tag    "authr/application", media: "all" %>
  <%= javascript_include_tag "authr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
